
.label {
    -fx-alignment: center;
    -fx-background-color: BLACK;
}

.borderPane {
    -fx-background-color: BLACK;
    -fx-fill: BLACK;
}

#startPane{
    -fx-background-color:  lightblue;
    -fx-alignment: center;
    -fx-background-image: url(tree.png);
}

.button{
    -fx-graphic: url(apple2.png);
    -fx-background-color: transparent, transparent, transparent, transparent, transparent;
    -fx-text-fill: white;
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-min-height: 30;
    -fx-min-width: 30;
    -fx-max-height: 30;
    -fx-max-width: 30;
}

#startLabel{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 22;
}

#score{
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 22;
}

#snake{
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 40;
}

