.startPane{
    -fx-background-color: Yellow;
    -fx-text-fill: Yellow;
    -fx-border-color: Yellow;
}

.button{
    -fx-background-color: Blue;
    -fx-alignment: center;
    -fx-text-fill: Yellow;
}
